@import '../../index.scss';
fieldset{
    width: 70vw;
    margin: 0 auto;
    text-transform: capitalize;
    color: $mainGreen;
}
.add-tour{
    width: 70vw;
    margin: 0 auto;
    padding: 1.5rem 0.5rem;
}
.labelFor{
    display: inline-block;
    width: 80px;
    text-align: right;
    padding: 7px 10px 0 0;
    margin: 0 0 7px 0;
    color: $mainGreen;
}
.inputField{
    display: inline-block;
    width: 250px;
    margin: 0 0 7px 0;
}
.addbtn{
    margin-top: 15px;
    margin-bottom: 3px;
    padding-top: 0px;
    color: $mainGreen;
}